<h1>List Maker</h1>
<form>
	<label for="list-item">List Item</label>
	<input class="list-item-box" type="text" placeholder="..." name="list-item" />
	<input class="btn-submit" type="submit" />
</form>
<div id="region-todos"></div>